@charset "UTF-8";

@media screen and (min-width: 600px){
    header{
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: left;
        align-items: center;
    }

    header h1{
        flex: 0 0 200px;
    }

    header nav{
        flex-flow: row nowrap;
        align-items: flex-start;
    }
    nav a{
        margin-right: 10px;

    }

    main{
        display: block;
        margin: 10px auto;
    }
}