@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    height: 100vh;
}

header, section.normal{
    padding: 20px;
}

h1, h2{
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2em;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

section.flex-content{
    padding: 20px;
    background-color: lightgrey;
    display: flex;
    flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text{
    flex: 1 1 500px; 
}

article > div.media{
    flex: 1 0 400px;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}

div.media > img{
    display: block;
    margin: auto;
    padding: 10px;
}
